<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <h1>
        Learn {{ title }}
    </h1>





    <mat-tab-group class="tabs">
        <mat-tab label="Recently added">
            <the-my-dictionary></the-my-dictionary>
        </mat-tab>
        <mat-tab label="Go">
            <the-game></the-game>
        </mat-tab>
        <mat-tab label="Settings">
            <the-settings></the-settings>
        </mat-tab>
    </mat-tab-group>



</div>
