<div class="dictionary">
    <div class="scroller">
        <p class="date">
            4 Мая 2017
        </p>

        <p>to apply - добавлять</p>
        <p>education - образование</p>
        <p>to go - идти</p>
        <p>responsible - ответственный</p>
        <p>to apply - добавлять</p>
        <p>education - образование</p>
        <p>to go - идти</p>
        <p>responsible - ответственный</p>

    </div>

    <button mat-raised-button color="primary" class="halfSize mar1">Add new</button>

</div>